<br>
<div class="container">
    <div class="row">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <div class="row">


                <div class=" col-lg-6 col-xl-6 col-md-12 col-sm-12">
                    <a href="javascript:void(0)" style="cursor:pointer"
                        (click)="downloadFile('./assets/files/ICBMI-2020_Poster_Template_latest_version.pptx','ICBMI-2020_Poster_Template_latest_version.pptx')">
                        <button class="btn btn-primary">Poster Presentation Template Download(PPTX) <i
                                class="fa fa-download"></i> </button>
                    </a>

                </div>


                <div class=" col-lg-6 col-xl-6 col-md-12 col-sm-12">
                    <a href="javascript:void(0)" style="cursor:pointer"
                        (click)="downloadFile('./assets/files/ICBMI-2020_Poster_Template_older_version.ppt','ICBMI-2020_Poster_Template_older_version.ppt')">
                        <button class="btn btn-primary">Poster Presentation Template Download(PPT)<i
                                class="fa fa-download"></i> </button>
                    </a>

                </div>
            </div>
        </div>

        <br>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <h5>
                <br>
                <p> Dear Poster Presenter of ICBMI-2020</p>
            </h5>

            <p> You are requested to follow certain guidelines to prepare and display the same in the conference portal.
                In case, you require any further assistance kindly write to this email address icbmi2020@abinnovus.com

            </p>

        </div>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <h5>
                <p> Guidelines for Poster Presentations</p>
            </h5>
            <h5>
                <p class="blink_me">Poster Preparation and video recording</p>
            </h5>


            <p> <i class="fa fa-hand-o-right"></i> Prepare the Poster using the attached template and save the file in
                PDF format </p>
            <p> <i class="fa fa-hand-o-right"></i> Record a 5 min. video presentation using zoom with your face and
                poster displayed (for zoom instruction follow the zoom recording steps provided below</p>
            <p> <i class="fa fa-hand-o-right"></i> Upload the recorded video file in the google drive.</p>

        </div>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <h5>
                <p class="blink_me">Uploading poster and link for video file</p>
            </h5>



            <p> <i class="fa fa-hand-o-right"></i> Click or Copy and paste the link below this will direct you to the
                conference portal
                http://52.188.202.97/portal/
                (all activity from 06 to 09 December 2020 will carried out in this conference portal only)
            </p>
            <p> <i class="fa fa-hand-o-right"></i> Click the (Signup for (Oral/Poster) Participation) button</p>
            <p> <i class="fa fa-hand-o-right"></i> Fill all the required fields</p>
            <p><i class="fa fa-hand-o-right"></i> Upload your PDF format poster by clicking upload button</p>
            <p><i class="fa fa-hand-o-right"></i> Provide the link to download the video file that you uploaded in the
                google drive (This step is optional)</p>
            <p><i class="fa fa-hand-o-right"></i> Click register button to sign up</p>
            <p><i class="fa fa-hand-o-right"></i> You will receive an acknowledgment email for your signup from
                icbmi2020@abinnovus.com (please check your spam or junk email also for this acknowledgment e-mail).</p>
        </div>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <h5>
                <p class="blink_me"> During the Conference</p>
            </h5>
            <p> <i class="fa fa-hand-o-right"></i> You will be presenting your poster for 5 min in live to the panel
                member only for selection of awards </p>
            <p> <i class="fa fa-hand-o-right"></i> Schedule of this presentation and link for live session will be
                emailed to you.</p>
            <p> <i class="fa fa-hand-o-right"></i> EEnsure yourself to be present at the time of the evaluation process
                no alternative slot will be provided.</p>

        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">


            <h5>
                <p class="blink_me"> Zoom Recording Instructions</p>
            </h5>

            <p> <i class="fa fa-hand-o-right"></i> Open Zoom. </p>
            <p> <i class="fa fa-hand-o-right"></i> In your profile, click "Settings", then "Recordings". Be sure that
                Local Recordings is on.</p>
            <p> <i class="fa fa-hand-o-right"></i> At the upper right corner, it will say “Host a Meeting”. </p>
            <p> <i class="fa fa-hand-o-right"></i> Click on “Host a Meeting with Video”, and follow the instructions to
                download and run Zoom or wait for the meeting to generate.</p>
            <p> <i class="fa fa-hand-o-right"></i> Be sure that your audio and video are both on and working. </p>
            <p> <i class="fa fa-hand-o-right"></i> The video is required in order to ensure a high-quality experience
                for the audience.</p>
            <p> <i class="fa fa-hand-o-right"></i> The size of the webcam will be 224x126 pixels in the upper right
                corner.  </p>
            <p> <i class="fa fa-hand-o-right"></i> Once you start screen sharing, your video will move to the upper
                right-hand corner and may potentially cover text or images.  </p>
            <p> <i class="fa fa-hand-o-right"></i> Please adjust your presentation accordingly.</p>
            <p> <i class="fa fa-hand-o-right"></i> Become familiar with the Zoom tools available at the bottom of your
                screen.</p>
            <p> <i class="fa fa-hand-o-right"></i> We encourage the use of the embedded laser pointer during the
                recording. </p>
            <p> <i class="fa fa-hand-o-right"></i> Press the “Record” button.</p>
            <p> <i class="fa fa-hand-o-right"></i> Select “Share Screen” and begin your presentation. </p>
            <p> <i class="fa fa-hand-o-right"></i> As a reminder, your presentation should not exceed 5 minutes for
                Poster Presentation </p>
            <p> <i class="fa fa-hand-o-right"></i> Once you have finished your presentation, you can select “Stop
                Record” and then end the meeting, or simply end the meeting--which will stop the recording.</p>
            <p> <i class="fa fa-hand-o-right"></i> It will begin to convert your video to your local system into three
                files: an .m4a, .m3u and .mp4 file.</p>

            <h5>
                <p class="blink_me"> Uploading Your Presentation in google drive</p>
            </h5>
            <p> <i class="fa fa-hand-o-right"></i> Once the recording is complete, you will see three different files:
                .m4a, .m3u, and .mp4. </p>
            <p> <i class="fa fa-hand-o-right"></i> You will only need to upload the .mp4 file as that file incorporates
                Audio, Camera and Content Slides (PowerPoint) all in a single file.</p>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h5>
                <p class="blink_me">For enquires about the conference.</p>
            </h5>
            <p>Please contact with your abstract reference id to the following email address icbmi2020@abinnovus.com</p>
            <p>Best wishes,</p>
            <p>Kind Regards</p>
            <p>Abstract Management Team</p>
            <p>ICBMI-2020</p>
            <p>E-mail: convener@sbaoi.co.in</p>
            <p>
                www.sbaoi.co.in
            </p>
        </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

        <div class="row">


            <div class=" col-lg-6 col-xl-6 col-md-12 col-sm-12">
                <a href="javascript:void(0)" style="cursor:pointer"
                    (click)="downloadFile('./assets/files/ICBMI-2020_Poster_Template_latest_version.pptx','ICBMI-2020_Poster_Template_latest_version.pptx')">
                    <button class="btn btn-primary">Poster Presentation Template Download(PPTX) <i
                            class="fa fa-download"></i> </button>
                </a>

            </div>


            <div class=" col-lg-6 col-xl-6 col-md-12 col-sm-12">
                <a href="javascript:void(0)" style="cursor:pointer"
                    (click)="downloadFile('./assets/files/ICBMI-2020_Poster_Template_older_version.ppt','ICBMI-2020_Poster_Template_older_version.ppt')">
                    <button class="btn btn-primary">Poster Presentation Template Download(PPT)<i
                            class="fa fa-download"></i> </button>
                </a>

            </div>
        </div>
    </div>

  <br>

</div>