<br>
<!-- <div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12"> -->
<!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="2">

    <agm-marker [latitude]="iit_delhi_lat" [longitude]="iit_delhi_lng" [iconUrl]="iit_delhi_marker"
        (markerClick)="clickedMarker(infowindow)">
        <agm-snazzy-info-window [maxWidth]="200"  [closeWhenOthersOpen]="true">
            <ng-template>
                <div (click)="onNavigate('https://home.iitd.ac.in/')" class="cursor_style"><img
                        src="assets/images/logo/iit-delhi.png" class="img_size">
                    <p> IIT Delhi</p>
                </div>
            </ng-template>
        </agm-snazzy-info-window>
    </agm-marker>

    <agm-marker [latitude]="iit_bangalore_lat" [longitude]="iit_bangalore_lng" [iconUrl]="iit_bangalore_marker"
    (markerClick)="clickedMarker(infowindow)">
    <agm-snazzy-info-window [maxWidth]="200"  [closeWhenOthersOpen]="true">
        <ng-template>
            <div (click)="onNavigate('https://www.iisc.ac.in/')" class="cursor_style"><img
                    src="assets/images/logo/iit-delhi.png" class="img_size">
                <p> IISC</p>
                <p>Bangalore</p>
            </div>
        </ng-template>
    </agm-snazzy-info-window>
</agm-marker>


</agm-map> -->
<!--   </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">

        </div>
    </div>
</div> -->
<br>