<div class="container" style="margin-left: auto;
margin-right: auto; text-align:center">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="speaker-headings col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-3">
                    <h2 style="text-align: center;text-shadow: 2px 2px 5px #4dffff">SPEAKERS</h2>
                </div>
              <!--   <div class="speaker-headings col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5">
                    <h2 style="text-align: center;">Academic</h2>
                </div> -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/dr_laurencin.jpg" alt="dr_laurencin"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Cato T. Laurencin</b></h4>
                                <!-- <p>University Professor</p> -->
                                <p>University of Connecticut, USA
                                
                              <b style="color: blue;">Chandra P.sharma, Award winner- 2020</b></p>
                                
                                <p class="blink_me" style="color: red;"><b><i>"Regenerative Engineering Biomaterials, Convergence, and Grand Challenges"</i></b></p>

                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/rajasababathy.jpg" alt="raja_sabapathy"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. S. Raja Sabapathy</b></h4>
                                <!--                                 <h4><b>Dr. S. Raja Sabapathy FRCS</b></h4>
 -->
                                <p>Chairman, Ganga Hospital</p>
                                <!--  <p>Division of Plastic, Hand Reconstructive, Microsurgery, Ganga Hospital</p> -->
                                <p>Coimbatore, India</p>
                            <p class="blink_me" style="color: red;"><b><i>"Tissue Engineering in Reconstructive Surgery and What is in the Horrison"</i></b></p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/subrata.jpeg" alt="subrata"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Subrata Saha</b></h4>
                                <!-- <p>Affiliate Professor, Department of Restorative Dentistry</p>
                                <p>Affiliate Instructor, Department of Oral & Maxillofacial Surgery</p>
                                <p>School of Dentistry, University of Washington, Seattle, WA</p> -->
                                <p>University of Washington</p>
                                <p>Washington, USA</p>
                                <p class="blink_me" style="color: red;"><b><i>"Ethical Challenges in Biomaterials Research & Practice"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/boccaccini.jpg" alt="boccaccini"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Aldo R. Boccaccini</b></h4>
                                <!--                                 <p>Chair of Material Science (Biomaterials)</p>
 -->
                                <p>University of Erlangen-Nuremberg, Germany</p>
                                
                                <p class="blink_me" style="color: red;"><b><i>"Bioactive glasses and Biofabrication in Tissue Engineering: Achievements and New Developments"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/vaidhynathan.jpg" alt="vaidhynathan"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Bala Vaidhyanathan</b></h4>
                                <!--  <p>Professor</p> -->
                                <p>Loughborough University</p>
                                <p>UK</p>
                                <p class="blink_me" style="color: red;"><b><i>"Nanostructured Bioceramic Implants"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>             
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/pamela_habibovic.jpg" alt="Pamela"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Pamela Habibović</b></h4>
                                <!--  <p>Instructive Biomaterial Engineering
                                    Maastricht University</p>
                                <p>University of Erlangen-Nuremberg, 6229 ER Maastricht</p> -->
                                <p> Maastricht University, Netherlands</p>
                
                                <p class="blink_me" style="color: red;"><b><i>"Applying novel design- and screening tools to advance the field of organ and tissue regeneration"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/rupak.jpg" alt="rupak"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Rupak Dua</b></h4>
                                <!--                                 <p>Assistant Professor </p>
                              <p>Department of Chemical Engineering 
                                    School of Engineering and Technology </p> -->
                                <p>Hampton University, Virginia, USA </p>
                                <!-- <p></p> -->
                                <p class="blink_me" style="color: red;"><b><i>"Novel Approaches to Develop and Evaluate Biomimetics Surfaces on Orthopedic Implants to provide inherent Anti-Bacterial and Enhanced Osseointegration Properties"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/francis.jpg" alt="francis"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr.Francis B Fernandez</b></h4>
                              
                                <p>SCTIMST Trivandrum, India </p>
                                <p class="blink_me" style="color: red;"><b><i>"Engineered Bioceramic Matrices for Sustained Active Factor Delivery"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/dr_malhotra.jpg" alt="dr_malhotra"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. BD. Malhotra</b></h4>
                                <!-- <p>Professor</p> -->
                                <p>Indian National Science Academy</p>
                                <p>Delhi, India</p>

                                <p class="blink_me" style="color: red;"><b><i>"Nanostructured Metal Oxides-Enabled Biosensors for Oral Cancer Detection"</i></b></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/rajasekaran.jpg" alt="rajasekaran"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <!--                                 <h4><b>Prof. S. Rajasekaran FRCS</b></h4>
 -->
                                <h4><b>Dr. S. Rajasekaran </b></h4>
                                <p>Ganga Hospital</p>
                                <!--  <p>Chairman</p>                               <p>Division of Orthopaedics Trauma & Spine Surgery, Ganga Hospital</p>
 -->
                                <p>Coimbatore, Indis</p>

                                <p class="blink_me" style="color: red;"><b><i>"The Science of Metallurgy regarding Implants in Orthopaedic Surgery"</i></b></p>

                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/samir_mitragotri.jpeg" alt="samir_mitagotri"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Samir Mitragotri</b></h4>
                                <!-- <p>Hiller Professor of Bioengineering
                                    Hansjorg Wyss Professor of Biologically Inspired Engineering</p>
                                <p>John A Paulson School of Engineering & Applied Sciences</p>
                                 -->
                                <p>Wyss Institute, Harvard University</p>
                                <p>USA</p>
                                <p class="blink_me" style="color: red;"><b><i>"Cellular Hitchhiking for Targeted Drug Delivery"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/tejal.jpg" alt="tejal"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Tejal Desai</b></h4>
                                <!--  <p>Department Chair & Professor</p> -->
                                <p>University of California</p>
                                <p>USA</p>
                                <p class="blink_me" style="color: red;"><b><i>"Therapeutic Biomaterials: Engineering Material 'Structure' to Modulate Biologic Delivery"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/ashok_kumar.jpg" alt="ashok_kumar"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Ashok Kumar</b></h4>
                                <!-- <p>Department of Biological Sciences and Bioengineering</p> -->
                                <p>IIT Kanpur</p>
                                <p>UP,India</p>
                                <p class="blink_me" style="color: red;"><b><i>"Exosomes functionalised biomaterials: A promising therapeutic tool for diabetic secondary complications"</i></b></p>

                                
                            </div>
                        </div>
                    </div>
                </div>





                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/ipsida_banerjee.jpg" alt="ipsita_banerjee"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">

                                <h4><b>Prof. Ipsita Banerjee</b></h4>
                                <p>University of Pittsburgh, USA</p>
                                <p class="blink_me" style="color: red;"><b><i>"Bioengineering pancreatic islet organoids from hPSCs for regenerative therapy and disease modeling applications"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/jolius_gimbun.jpg" alt="jolius_gimbun"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">

                                <h4><b>Prof. Jolius Gimbun</b></h4>
                                <p>Universiti Malaysia Pahang, Malaysia</p>
                                <p class="blink_me" style="color: red;"><b><i>"Drug delivery by electrospun nanofiber"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/khalil.jpg" alt="khalil"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">

                                <h4><b>Prof. Khalil El Mabrouk</b></h4>
                                <p>Meknes Road, Morocco</p>
                                <p class="blink_me" style="color: red;"><b><i>"3D Metallic Porous Structure Coated with Bioactive Glass for Orthopaedic Application"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/subhadip.jpg" alt="subhadip"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">

                                <h4><b>Dr. Subhadip Bodhak</b></h4>
                                <p>CSIR-CGCRI, Kolkata</p>
                                <p class="blink_me" style="color: red;"><b><i>"Functional Biomaterials for Spinal Reconstruction Applications"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/ravi_selvaganapathy.jpg" alt="ravi_selvaganapathy"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">

                                <h4><b>Prof. P. Ravi selvaganapathy</b></h4>
                                <p>McMaster University, Canada</p>
                                <p class="blink_me" style="color: red;"><b><i>"Biofabrication Techniques for Tissue Engineering and Cultivated Meat"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/aravind_sinha.jpg" alt="aravind_sinha"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">

                                <h4><b>Dr. Arvind Sinha</b></h4>
                                <!-- <h4><b>Dr. Arvind Sinha, F.N.A.Sc, F. I. C.S</b></h4> 
                                <p>Chief Scientist & Head
                                    Advanced Materials & Processes Division & Chairman</p> -->
                                <p>The National Academy of Sciences, India (NASI)</p>
                                <p>Jharkhand, India</p>
                                <p class="blink_me" style="color: red;"><b><i>"Biomaterials: An ongoing journey from biomimetics to biodegradable alloys"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/arul_selvan.jpg" alt="arulselvan"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Arul Selvan</b></h4>
                                <!-- <h4><b>Dr. Arul Selvan, FRCP</b></h4>
                                <p>Consultant Neurologist</p> -->
                                <p>Royal Care Super Speciality Hospital Limited</p>
                                <p>Coimbatoe, India</p>

                                <p class="blink_me" style="color: red;"><b><i>"Brain-Nanotechnology"</i></b></p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/suresh_pillai.jpg" alt="suresh_pillai"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Suresh Pillai</b></h4>
                                <!--  <h4><b>Dr. Suresh Pillai FRCS</b></h4>
                                <p>Consultant Spine surgeon</p> -->
                                <p>Baby Memorial Hospital</p>
                                <p>Kerala, India</p>

                                <p class="blink_me" style="color: red;"><b><i>"Evolution and present status  of implants in spine surgery"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/praveen_raj.jpg" alt="praveen"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Praveen Raj</b></h4>
                                <p>Head , GEM Obesity & Diabetes Surgery Centre</p>
                                <p>Coimbatore, India</p>
                                <p class="blink_me" style="color: red;"><b><i>"Science behind surgical cure for diabetes"</i></b></p>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/santanu_dhara.jpeg" alt="santanu_dhara"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Santanu Dhara</b></h4>
                                <!-- <p>Professor</p> -->
                                <p>IIT Kharagpur</p>
                                <p>UP, India</p>
                                <p class="blink_me" style="color: red;"><b><i>"Design, Development and Validation of Customized Implants using ethically Sourced Material"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>

               
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/suzuki.png" alt="atsushi_suzuki"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Atsushi Suzuki</b></h4>
                                <!-- <p>Professor</p> -->
                                <p>Yokohama National University</p>
                                <p>Japan</p>

                                <p class="blink_me" style="color: red;"><b><i>"Recent advances in gelation techniques of PVA gels for medical applications"</i></b></p>


                                
                            </div>
                        </div>
                    </div>
                </div>

             




                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/anna.jpeg" alt="annabel_braem"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Annabel Braem</b></h4>
                                <!-- <p>Professor</p> -->
                                <p>KU Leuven</p>
                                <p>Belgium</p>
                                <p class="blink_me" style="color: red;"><b><i>"Anti-Infective Strategies for next generation Dental implants"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>

              

      
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/lorenzo_moroni.jpg" alt="lorenzo_morani"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Lorenzo Moroni</b></h4>
                                <p> Maastricht University</p>
                                <p> The Netherlands</p>

                                <p class="blink_me" style="color: red;"><b><i>"Biofabrication Technologies to control cell fate"</i></b></p>

            
                                <!--  <p>Professor</p> -->
                                <!-- <p>Dpt. of Biofabrication for Regenerative Medicine
                                    Maastricht University</p>
                                <p>MERLN Institute
                                    The Netherlands</p> -->
                            </div>
                        </div>
                    </div>
                </div>

             
            
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/nathaniel.jpeg" alt="nathaniel"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Nathaniel S. Hwang</b></h4>
                                <!--  <p>Professor</p>
                                 <p>School of Chemical and Biological Engineering
                                    Interdisciplinary Program in Bioengineering</p> 
                                <p>Seoul National University
                                    Korea</p> -->

                                <p>Seoul National University</p>
                                <p>South Korea</p>
                                <p class="blink_me" style="color: red;"><b><i>"Injectable and anti-inflammatory hydrogel for tissue repair"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/rohit_srivastava.jpeg" alt="rohit_srivastava"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">

                                <h4><b>Prof. Rohit Srivastava</b></h4>
                                <!--<h4><b>Prof. Rohit Srivastava, FNASc, FRSC, FRSB</b></h4>
                                 <p>Professor and Head</p> 
                                 <p>Department of BSBE</p> 
                                <p>IIT Bombay, Powai, Mumbai </p>-->
                                <p>IIT Bombay</p>
                                <p>Mumbai, India</p>
                                <p class="blink_me" style="color: red;"><b><i>"Affordable Healthcare Technologies in Sensing, Drug delivery and Therapy"</i></b></p>



                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/venugopal.png" alt="venugopal"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. J. Venugopal</b></h4>
                                <p>University Malaysia Pahang</p>
                                <p>Malasiya</p>
                                <p class="blink_me" style="color: red;"><b><i>"Nanofibrous structured porous biomaterials scaffolds to mimic native ECM for Regenerative Medicine"</i></b></p>


                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/kanagaraj.jpeg" alt="kanagaraj"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. S. Kanagaraj</b></h4>
                              
                                <p>IIT Guwahati</p>
                                <p>Assam India</p>

                            </div>
                        </div>
                    </div>
                </div> -->


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/dr_jayakumar.jpg" alt="jayakumar"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. R. Jayakumar</b></h4>
                                <!-- <p>Professor </p> 
                                     <p>Nanosciences
                                    Center for Nanosciences, Amrita Vishwa Vidyapeetham </p>
 -->
                                <p> Amrita Vishwa Vidyapeetham, Kochi</p>

                                <!-- <p></p> -->

                                <p class="blink_me" style="color: red;"><b><i>"Vasoconstrictor and Coagulation Activator Incorporated Chtiosan Hydrogel for Rapid and Effective Hemostasis"</i></b></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/committee/hk_varma.png" alt="harikrishna_varma"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Harikrishna Varma </b></h4>
                                <p>SCTIMST</p>
                                <p>Trivandrum, India</p> 
                                <p class="blink_me" style="color: red;"><b><i>"In Search of Ideal Biomaterials"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/maya_nandakumar.jpeg" alt="maya_nandakumar"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. A. Maya Nandkumar</b></h4>
                                <p>SCTIMST</p>
                                <p>Trivandrum, India</p>
                                <p class="blink_me" style="color: red;"><b><i>"Nanoparticles and Vaccine delivery"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/joseph.jpg" alt="joseph"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Ing. Joseph Buhagiar</b></h4>
                                <!-- <p>Associate Professor</p> -->
                                <!-- <p>Department of Metallurgy and Materials Engineering
                                    Faculty of Engineering, University of Malta </p> -->
                                <p>University of Malta </p>
                                <p>Malta</p>
                                <p class="blink_me" style="color: red;"><b><i>"A Paradigm Shift: A Low-Wearing Novel Hip Joint Prosthesis"</i></b></p>

                                <!-- <p>Msida, MSD 2080, Malta</p> -->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/bharath.jpeg" alt="bharath"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Bharath Raja Guru</b></h4>
                                <!-- <p>Professor</p> -->
                                <!-- <p>Department of Biotechnology</p> -->
                                <p>Manipal Institute of Technology,Manipal, India</p>
                                <p class="blink_me" style="color: red;"><b><i>"Targeting cancer cells for their over expressed receptors using biodegradable nanoparticles for the therapy"</i></b></p>

                                
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/debrupa.jpg" alt="Debrupa"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Debrupa Lahiri</b></h4>
                                <!-- <p>Associate Professor</p> -->
                                <!-- <p>Department of Metallurgical and Materials Engineering
                                    Indian Institute of Technology, Roorkee</p> -->

                                <p> IIT, Roorkee</p>
                                <p>Uttarakhand, India</p>

                                <p class="blink_me" style="color: red;"><b><i>"Bioengineered smart trilayerSkin tissue substitute for efficient Deep wound healing"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>





                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/prakriti.jpeg" alt="prakriti"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Prakriti Tayalia</b></h4>
                                <!-- <p>Bioscience and Engineering</p> -->
                                <p>IIT Mumbai, India</p>
                            
                                <p class="blink_me" style="color: red;"><b><i>"Biomaterial-based bioactive dermal patch for wound healing and platform for cancer immunotherapy"</i></b></p>


                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/Shamik_sen.jpeg" alt="Shamik"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Shamik Sen</b></h4>
                                <!-- <p>Associate Professor</p> -->
                                <p>Department of Biosciences and Bioengineering</p>
                                <p>IIT Mumbai, India</p>
                                <p class="blink_me" style="color: red;"><b><i>"Targeting the Glycocalyx for Diabetic Wound Healing"</i></b></p>

                                <!-- <p>IIT Bombay, Powai, Mumbai</p> -->

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/kaushik.jpeg" alt="kaushik"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Kaushik Chatterjee</b></h4>
                                <!-- <p>Associate Professor</p> 
                                <p>Biomaterials & Tissue Engineering Lab</p>-->
                                <p>IISc Bangalore, India</p>
                                <p class="blink_me" style="color: red;"><b><i>"Nanoscale Surface Engineering of Metallic Biomaterials for Orthopedic Applications"</i></b></p>

                                


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/anna_tamberi.jpg" alt="anna_tamberi"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Anna Tampieri</b></h4>
                                <!-- <p>Director</p> -->
                                <p>ISTEC-CNR</p>
                                <p>Italy</p>
                                <p class="blink_me" style="color: red;"><b><i>"Nature inspires smart device for regenerative medicine and nano medicine"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>


              


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/abhijit_chakraborty.jpg" alt="abhijit_chakraborty"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Abhijit Chakraborty</b></h4>
                                <!-- <p>Head of the Department
                                    Department of Periodontics
                                    Guru Nanak Institute of Dental Sciences & Research
                                    Panihati</p> -->
                                <p>
                                    Guru Nanak Institute of Dental Sciences & Research
                                    Panihati, West Bengal, India</p>
                                <!--  <p></p>-->
                                <p class="blink_me" style="color: red;"><b><i>"Journey of Nanobioceramics in functional and aesthetic Dentistry"</i></b></p>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/padmanaban.jpg" alt="padmanabhan"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. P. Padmanabhan</b></h4>
                                <!--  <p>Deputy Director (Translational Neuroscience)</p> -->
                                <!--  <p>Nanyang Technological University (NTU),
                                    Neuroimaging Centre (CoNiC) - Singapore</p> -->
                                <p>Nanyang Technological University (NTU)</p>
                                <p>Singapore</p>

                                <p class="blink_me" style="color: red;"><b><i>"Nano-technological approach for the early detection of Alzheimer's disease"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/artemis.jpeg" alt="artemis"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Artemis Stamboulis</b></h4>
                                <!-- <p>Senior Lecturer</p> -->
                                <p>
                                    University of Birmingham
                                    Edgbaston</p>
                                <!-- <p>School of Metallurgy and Materials
                                    University of Birmingham
                                    Edgbaston</p> -->
                                <p>Birmingham,
                                    UK</p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/ashutosh.jpeg" alt="ashutosh"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Ashutosh Kumar Dubey</b></h4>
                                <p>IIT(BHU), Varanasi</p>
                                <p>India</p>

                                <p class="blink_me" style="color: red;"><b><i>"Piezobiomaterials: New generation prosthetic orthopedic implants"</i></b></p>

                                <!-- <p>Assistant Professor</p> 
                                <p>Department of Ceramic Engineering</p>
                                <p>Indian Institute of Technology (BHU), Varanasi</p>-->
                            </div>
                        </div>
                    </div>
                </div>


              <!--   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/biswanath.jpeg" alt="biswanath"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Biswanath Kundu</b></h4>
                                <p>CSIR-Central Glass & Ceramic Research Institute</p>
                                <p>Kolkata, India</p>
                            </div>
                        </div>
                    </div>
                </div>
   <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/subha_narayanan.jpeg" alt="subha_narayanan"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Subha Narayan Rath</b></h4>
                                <p>IIT Hyderabad, India</p>

                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/anuya.jpeg" alt="anuya"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Anuya Nisal</b></h4>
                                <!--  <p>Polymer Science and Engineering Division</p> -->
                                <p>CSIR-National Chemical Laboratory</p>
                                <p>Pune, India</p>
                                <p class="blink_me" style="color: red;"><b><i>"Comparative studies of silk fibroin and calcium ceramic in bone void filling"</i></b></p>


                            </div>
                        </div>
                    </div>
                </div>

           
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/rupak.jpg" alt="rupak"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Rupak Dua</b></h4>
                                <!--                                 <p>Assistant Professor </p>
                              <p>Department of Chemical Engineering 
                                    School of Engineering and Technology </p> -->
                                <p>Hampton University, Virginia, USA </p>
                                <!-- <p></p> -->
                                <p class="blink_me" style="color: red;"><b><i>"Novel Approaches to Develop and Evaluate Biomimetics Surfaces on Orthopedic Implants to provide inherent Anti-Bacterial and Enhanced Osseointegration Properties"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/mauro_petretta.jpg" alt="mauro_petretta"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. Mauro Petretta</b></h4>
                                <p>Regen HU</p>
                                <p>Switzerland </p>
                                <p class="blink_me" style="color: red;"><b><i>"The 3D Bioprinting Revolution – Expanding the horizons of Biomedical Science"</i></b></p>


                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div class="speaker-headings col-xl-12 col-lg-12 col-md-12 col-sm-12" style="padding-top: 100px;">
                    <h2 style="text-align: center;">Medical Professional</h2>
                </div> -->
            
              
                <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/dr_Palanivelu.jpg" alt="dr_palanivelu"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Dr. C. Palanivelu, FRCS</b></h4>
                                <p>Chairman, Professor & Director</p>
                                <p>GEM Hospital and Research Centre</p>
                                <p>INDIA</p>
                            </div>
                        </div>
                    </div>
                </div> -->

             

               <!--  <div class="speaker-headings col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5" style="padding-top: 100px;">
                    <h2 style="text-align: center;">Industry</h2>
                </div> -->

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/sumant.jpg" alt="sumant"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Mr. Sumant Bhutoria</b></h4>
                                <p>CEO</p>
                                <p>Alfatek Systems, India</p>
                                
                                <p class="blink_me" style="color: red;"><b><i>"3D Bioprinting - Revolutionizing healthcare and medicine"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="assets/images/speakers/aline_miler.jpg" alt="aline"
                                    style="width:250px;height:250px; border-radius: 10px;">
                            </div>
                            <div class="flip-card-back pt-4">
                                <h4><b>Prof. Aline Miller</b></h4>
                                <p> BIOGEL</p>
                                <p>Manchester UK</p>

                                <p class="blink_me" style="color: red;"><b><i>"Tuneable Peptide hudrogels for 3D cell culture and 3D bioprinting"</i></b></p>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<br>
<br>