<br>
<div class="container" >
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

          <h5>  <p> Dear Oral Presenter of ICBMI-2020</p></h5>

            <p>  You are requested to follow certain guidelines to prepare and display the same in the conference portal.
                In case,
                you require any further assistance kindly write to this email address icbmi2020@abinnovus.com</p>

        </div>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <h5> <p>Guidelines for Oral Presentations</p></h5>
             <h5>  <p class="blink_me">Oral Preparation and video recording</p></h5>
            <p>  <i class="fa fa-hand-o-right"></i> Prepare the Oral presentation slide save the file in PDF format to display in Portal</p>

        </div>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

          <h5>  <p class="blink_me">Uploading poster and link for video file</p></h5>



            <p> <i class="fa fa-hand-o-right"></i> Click or Copy and paste the link below this will direct you to the conference portal
                http://52.188.202.97/portal/
                (all activity from 06 to 09 December 2020 will carried out in this conference portal only please
                bookmark this portal you can also login to the portal through www.sbaoi.co.in )
            </p>
            <p> <i class="fa fa-hand-o-right"></i> Click the (Signup for (Oral/Poster) Participation) button </p>
            <p> <i class="fa fa-hand-o-right"></i> Fill all the required fields</p>
            <p><i class="fa fa-hand-o-right"></i> Upload the your PDF format Oral presenting slide by clicking upload button (max 20mb)</p>
            <p><i class="fa fa-hand-o-right"></i> Leave blank in YouTube link or Google drive link </p>
            <p><i class="fa fa-hand-o-right"></i> Click register button to sign up</p>
            <p><i class="fa fa-hand-o-right"></i> You will receive an acknowledgment email for your signup from icbmi2020@abinnovus.com (please check your
                spam or junk email also for this acknowledgment e-mail).</p>
        </div>


        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <h5>  <p class="blink_me">  During the Conference</p></h5>
   <p> <i class="fa fa-hand-o-right"></i> You will be presenting your Oral presentation for 7 min including Q&A in live to the panel member and audience  </p>
    <p> <i class="fa fa-hand-o-right"></i> Schedule & link will be emailed to you for this presentation </p>
    <p> <i class="fa fa-hand-o-right"></i> Ensure yourself to be present at the time of the evaluation process no alternative slot will be provided.</p>

</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <h5>  <p class="blink_me">For enquires about the conference.</p></h5>
        <p>Please contact with your abstract reference id to the following email address icbmi2020@abinnovus.com</p>
        <p>Best wishes,</p>
        <p>Kind Regards</p>
        <p>Abstract Management Team</p>
        <p>ICBMI-2020</p>
        <p>E-mail: convener@sbaoi.co.in</p>
        <p>
        www.sbaoi.co.in
        </p>
</div>
    </div>

</div>
