

<!--   <div class="col-md-6 mx-auto text-center p-5 m-5 text-info" 
    style="border: 1px solid #c4c4c4;background: #f5f5f5;">
    <h1> Publisher will be updated soon...</h1>
</div> -->
<div class="col-md-6 mx-auto text-center  m-5 text-info">
    <h1 class=""><b>
            Program Details
        </b>
    </h1>
</div>
<div class="container">

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <button class="btn btn-primary" style="cursor:pointer; width: 100%;"
          (click)="downloadFile('./assets/images/poster/Speakers_Information_ICNMI_2020.jpg','Speakers_Information_ICNMI_2020.jpg')">Click to Download Speaker's Details <i
              class="fa fa-download"></i>
          </button>
        </div>
  
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <button class="btn btn-warning" style="cursor:pointer; width: 100%;"
          (click)="downloadFile('./assets/files/EventSpeakerSchedule.pdf','EventSpeakerSchedule.pdf')">Click to Download Event Schedule <i
              class="fa fa-download"></i>
          </button>
        </div> 

    
    </div>
   
    <br>
    <br>
    <div class="row">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <button class="btn btn-success" style="cursor:pointer; width: 100%;"
        (click)="downloadFile('./assets/images/poster/a3.jpg','Invitation.jpg')">Click to Download Invitation <i
            class="fa fa-download"></i>
        </button>
      </div> 
    </div>

    <br> <br>
<!-- 
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">


            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <i style="text-align: right;" class="fa fa-chevron-down" aria-hidden="true"></i>

                                <b> 06'th December-2020
                                </b>
                            </button>

                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    Updated soon....

                         
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">


            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i style="text-align: right;" class="fa fa-chevron-down" aria-hidden="true"></i>

                            <b>
                                 07'th December-2020
                            </b>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                                Updated soon....


                            </div>
                                         

                        </div>
                    </div>
                </div>
            </div>
        </div>



        

       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">


            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i style="text-align: right;" class="fa fa-chevron-down" aria-hidden="true"></i>

                            <b>
                               08'th December-2020
                            </b>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                                Updated soon....


                            </div>
                                         

                        </div>
                    </div>
                </div>
            </div>
        </div> 




        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">


            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            <i style="text-align: right;" class="fa fa-chevron-down" aria-hidden="true"></i>

                            <b>
                               09'th December-2020
                            </b>
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                                Updated soon....


                            </div>
                                         

                        </div>
                    </div>
                </div>
            </div>
        </div> 
     
    </div>
  -->

</div>

<br>